<header class="header">
  <button aria-expanded="false" aria-controls="menu" aria-label="Clique para abrir o menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
      <a aria-label="Home" href="/"> Home </a>
      <a aria-label="Contato" href="/contato"> Contato </a>
    </nav>

  <button aria-expanded="false" aria-controls="search-container" aria-label="Pesquisar no Blog" class="bt-search"><svg class="icon-top icon-search"><use xlink:href="#icon-search"></use></svg></button>
  <div id="search-container">
    <input type="text" id="search-input" placeholder="Pesquisar posts no blog...">
    <button aria-label="Fechar Barra de Pesquisa" class="bt-close"><svg class="icon-top icon-close"><use xlink:href="#icon-close"></use></svg></button>
    <ul id="results-container"></ul>
  </div>

  <hgroup class="title">
    <h1> <a href="/">Creattive Web - Bruno Xavier</a> </h1>
    <h2> <a href="/"> Desenvolvedor Front End </a> </h2>
  </hgroup>

  <div class="social-icons">
    {% include svg.html %}

    <a aria-label="Meu Facebook" href="https://www.facebook.com/BrunoXavieroficial" target="_blank" title="Siga-me no Facebook"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>

    <a aria-label="Meu GitHub" href="https://github.com/brunoxavierweb" target="_blank" title="Conecte-se no meu GitHub"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>

    <a aria-label="Enviar E-mail" href="mailto:contato@creattiveweb.com.br" title="Envie-me um e-mail"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>

  </div>

</header>
