<section class="share">
	<h3> COMPARTILHE </h3>

	<div class="share-buttons">

    	<a aria-label="Compartilhe no Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    	onclick="window.open(this.href, 'facebook-share');return false;" title="Compartilhe no Facebook">
        	<svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    	</a>

    	<a aria-label="Compartilhe no Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
    	onclick="window.open(this.href, 'google-plus-share');return false;" title="Compartilhe no Google+">
        	<svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
    	</a>
    </div>
</section>
